<main class="post-container">
    <div class="container">
        <h3>Videos</h3>
        <div class="videoTitle">Post: {{currentPost.title}}</div>
        <div class="videoAuthor">Username: {{currentPost.username}}</div>
        <video class="video-container" controls>
            <source src = "/{{currentPost.video}}" type="video/mp4" />
        </video>
        <div class="videoDescription">Description: {{currentPost.description}}</div>
        <br>
        <div class="videoTime">Created At: {{currentPost.createdAt}}</div>
        <br>
        <div class="comment-section">
            <div class="comment-box">
                <textarea id="comment-text" class="comment-box-text" placeholder="Type your comment here"></textarea>
                <button
                        id="comment-button"
                        class="fa fa-comment comment-box-button"
                        aria-hidden="true"
                        data-postId="{{currentPost.id}}"
                >Submit</button>
                <br>
            </div>
        </div>
        <div class="comments">
            {{#each currentPost.comments}}
                <div id="comments" class="comment">
                    <strong class="comment-author">{{this.username}}</strong>
                    <span class="comment-date">{{this.createdAt}}</span>
                    <div class="comment-text">{{this.textCom}}</div>
                </div>
            {{/each}}
        </div>
    </div>
    <script>
        document.getElementById("comment-button").addEventListener('click',function (ev)
        {
            let commentText = document.getElementById("comment-text").value;
            if(!commentText) return;
            console.log(ev.currentTarget.dataset.postid);
            let postId = ev.currentTarget.dataset.postid;
            fetch("/comments/create",
            {
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(
                        {
                            postId: postId,
                            commentText: commentText
                        }
                )
            })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        var comments = document.getElementById("comments");
                        let commentFragment = document.createElement("template");
                        commentFragment.innerHTML = `<div class="comment"
                        <strong class="comment-author">${data.username}</strong>
                        <span class="comment-date">${(new Date()).toLocaleString(
                            "en-us",{
                                dateStyle: "long",
                                timeStyle: "medium"
                                })}
                        </span>
                            <div class="comment-text">${data.commentText}</div>
                            </div>`;
                        comments.append(commentFragment.content.firstChild);

                    })
                    .catch(err => console)
        });
    </script>
</main>


